*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}

@font-face {
    font-family: fuente1;
    src: url(../assets/fonts/Experiencia.woff2)
}


.body {
    background-color: black;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 0.1fr 0.1fr;
    width: 100vw;
    height: 100%; 
    position: relative;
 
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    align-items: center;
    margin: 2rem 3rem ;
    row-gap: 1rem;
   
}

.header__nav__ul {
    display: flex;
    gap: 3rem;
    font-family: fuente1;

   

}

.header__nav__u__a {
    color: aliceblue;
}

.header__sectionFilter__ul {
    display: flex;
    gap: 3rem;
}

.header__sectionFilter__ul__a {
    text-decoration: none;
    color: aliceblue;
}

.header__sectionFilter__ul__div {
    display: flex;
    gap: 3rem;
}

.header__sectionFilter__ul__div__a {
   text-decoration: none;
   color: aliceblue;
}


 .main__section { 
    margin: 0 auto;
 }

 .main {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
 }

 .main__section__carrouselContainer {
    height: 20rem;
    width: calc((11.3rem*5) + (8rem));
    display: flex;
    justify-content: center;
    gap: 2rem;
    overflow-x: hidden;
 }

 .main__section__div {
    height: 20rem;
 }

 .main__section__div__card {
   position: relative;
   overflow: hidden;
 }

.main__section__div__card__img {
    height: 17rem;
    border-radius: 1rem;
    filter: blur(0);
    transition: all 2s; 
}


.main__section__div__card__back {
    background-color: rgba(41, 37, 37, 0.384);
    z-index: 2;
    position: absolute;
    height: 17rem;
    width: 11.3rem;
    transform: scale(0.5);
    opacity: 0;
    color: aliceblue;
    font-family: fuente1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.8rem;
    text-align: center;
    border-radius: 1rem;
    transition: all 0.5s;
}

.main__section__div__card:hover > .main__section__div__card__back:nth-child(1) {
    opacity: 100%;
    transform: scale(1);
    border-radius: 1.5rem;
}

.main__section__div__card:hover > .main__section__div__card__img:nth-child(3) {
    filter: blur(3px);
    transition: all 0.2s;

}

.main__section__div__card__button {
    position: absolute;
    height: 1.8rem;
    width: 11.3rem;
    background-color: rgba(255, 255, 255, 0.848);
    border-radius: 1rem 1rem 0 0;
    z-index: 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-decoration: none; 
    color: black;
}

.main__section__div__card__button__a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: fuente1;
    font-size: 0.7rem;
    font-weight: 600;
}

.main__section__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  
    

   
   }

.main__section__buttons__a {

    
}


.main__section__buttons__a__img {
   
    width: 3rem;
    border-radius: 70%;
   
}

.main__section__buttons__a__img:hover {
filter: brightness(0.7);
}

/* 


.main__section__div__card__data {
    height: 5rem;
    width: 11.4rem;
    border-radius: 1rem;
    position: absolute;
    font-family: fuente1;
    font-size: 0.8rem;
    text-align: center;
}

.main__section__div__card__data__li {
    font-family: fuente1;
    font-size: 1.2rem;
    margin: 0.5rem 0;
} */

.main__section--zonaLectura {
    height: 100%;
    width: 40vw;
    background-color: rgb(232, 241, 241);
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
    overflow: auto;
    right: -100%;
    transition: all 3s;
}

.main__section--zonaLectura--visible {
    height: 100%;
    width: 40vw;
    background-color: rgb(232, 241, 241);
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
    overflow: auto;
    transition: all 2s;
}

.cierreX {
    color:rgb(0, 0, 0);
    padding-left: 1rem;
    padding-top: 5rem;
    z-index: 4; 
    font-family: fuente1;
}
